## Environment Variables must start with VITE_
VITE_FIREBASE_API_KEY= changeme
VITE_FIREBASE_AUTH_DOMAIN= react-notes-sample.firebaseapp.com
VITE_FIREBASE_PROJECT_ID= react-notes-sample
VITE_FIREBASE_STORAGE_BUCKET= react-notes-sample.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID= changeme
VITE_FIREBASE_APPID= changeme